nav.pages {
  padding-bottom: 1rem;
}

.page-item.active .page-link {
  background: #032541 !important;
  border: 1px solid #032541 !important;
  color: #fff !important;
  cursor: pointer;
}

.page-item.disabled .page-link {
  background: #fff !important;
  color: gray !important;
}

.page-item .page-link {
  background: #fff !important;
  color: #032541 !important;
  cursor: pointer;
  width: 40px;
  min-width: 40px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

@media (max-width: 1024px) {
  nav.pages {
    padding-bottom: 1rem;
  }
  .page-item .page-link {
    font-size: 0.9rem;
    width: 35px;
    min-width: 35px;
  }
}
