<div class="container">
  <div class="slider-main">
    <div class="container" *ngIf="!loading">
      <app-trendings-slider [tMovies]="trendingMovies"></app-trendings-slider>
      <br />
    </div>
  </div>
  <div class="main-content" id="main-container">
    <div class="row container" *ngIf="loading">
      <mat-progress-bar mode="query" color="primary"></mat-progress-bar>
    </div>
    <div class="row mb-2">
      <div class="col-sm-6">
        <mat-form-field appearance="fill">
          <mat-label>Género</mat-label>
          <mat-select
            (selectionChange)="selectGenre($event)"
            [disabled]="loading"
          >
            <mat-option>Todos</mat-option>
            <mat-option *ngFor="let genre of genres" [value]="genre.id">
              {{ genre.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div
      class="row row-cols-2 row-cols-md-6"
      *ngIf="moviesToDisplay.length > 0"
    >
      <div class="col" *ngFor="let movie of moviesToDisplay">
        <div class="card border-0 h-100">
          <app-movie-poster
            [imgSrc]="movie | imageSrc"
            [vote_average]="movie.vote_average"
            [selectButton]="true"
            [release_date]="movie.release_date"
            [id]="movie.id"
          >
          </app-movie-poster>
          <div class="card-body">
            <h5 class="card-title fs-6 lh-sms">{{ movie.title }}</h5>
            <p class="card-text">
              {{ movie.release_date | date: "MMMM d, yyyy" | titlecase }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="moviesToDisplay.length < 1">
      <div class="col-sm-12">
        <div class="alert alert-info" role="alert">
          No se encontraron resultados!
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="!genre">
    <app-paginator
      [index]="index"
      [pagesArray]="pagesArray"
      [totalPages]="totalPages"
      (newIndexValue)="sliceListMovies(true, $event)"
    ></app-paginator>
  </ng-container>
  <ng-container *ngIf="genre">
    <app-paginator
      [index]="index"
      [pagesArray]="pagesArray2"
      [totalPages]="totalPages"
      (newIndexValue)="sliceListMovies2(true, $event)"
    ></app-paginator>
  </ng-container>
  <app-movies-list-button *appUserIn></app-movies-list-button>
  <app-whats-app-button></app-whats-app-button>
</div>
