/* Slider container */
.slider-main {
  color: white;
  /* background-color: #29363d; */
  background-color: #032541;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  height: 100%;
  left: 50%;
}

.main-content {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 100%;
}
