<div class="container">
  <div class="slider-main">
    <div class="container">
      <app-trendings-slider></app-trendings-slider>
      <br />
    </div>
  </div>
  <div class="main-content" id="main-container">
    <div class="row row-cols-2 row-cols-md-6">
      <div class="col" *ngFor="let movie of listMovies">
        <div class="card border-0 h-100">
          <app-movie-poster
            [imgSrc]="movie | imageSrc"
            [vote_average]="movie.vote_average"
          >
          </app-movie-poster>
          <div class="card-body">
            <h5 class="card-title fs-6 lh-sms">{{ movie.title }}</h5>
            <p class="card-text">
              {{ movie.release_date | date: "MMMM d, yyyy" | titlecase }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <mat-paginator
      [length]="moviesLength"
      [hidePageSize]="true"
      [pageSize]="listMovies.length"
      (getNumberOfPages)="(pageSize)"
      (page)="getMoviesList($event)"
      [showFirstLastButtons]="true"
    >
    </mat-paginator>
  </div>
</div>
