<div class="container">
  <div class="slider-main">
    <div class="container">
      <app-trendings-slider></app-trendings-slider>
      <br />
    </div>
  </div>
  <div class="main-content">
    <div class="row row-cols-2 row-cols-md-6">
      <div class="col mb-2" *ngFor="let movie of listMovies">
        <div class="card border-0 h-100">
          <app-movie-poster
            [imgSrc]="movie | imageSrc"
            [vote_average]="movie.vote_average"
          >
          </app-movie-poster>
        </div>
      </div>
    </div>
  </div>
</div>
