.slider-container {
  margin-top: 10px;
  margin-bottom: 10px;
}
img {
  border-radius: 1rem !important;
}
.img-size {
  height: auto;
  width: 180px;
  border-style: none;
  padding-left: 10px;
}

.slide:hover .img-size {
  opacity: 0.5;
  cursor: pointer;
}
.slide {
  position: relative !important;
}
.top-left {
  /* position: absolute;
  top: 2%;
  left: 10%;
  z-index: 1; */
  top: 0;
  position: absolute;
  left: 0;
  padding: 0.15rem;
  z-index: 1;
}
.badge-group::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 9px 9px 0;
  border-color: transparent #1db9d8 transparent transparent;
  position: absolute;
  top: 20px;
}
.badge {
  color: #151b1e;
  display: inline-block !important;
  font-size: 75% !important;
  line-height: 1 !important;
  text-align: center !important;
  white-space: nowrap !important;
  vertical-align: baseline !important;
  transition: 0.15s !important;
  font-weight: 500;
}
.badge-light {
  background-color: white;
  border-color: black;
}
.badge-blue {
  background-color: #1db9d8;
}
.badge-danger {
  background-color: #e44258;
  border-color: black;
}

.slide:focus {
  outline: none !important;
}
@media (max-width: 1024px) {
  .img-size {
    height: auto;
    width: 160px;
    padding-left: 10px;
  }
}
@media (max-width: 600px) {
  .img-size {
    height: auto;
    width: 160px;
    padding-left: 10px;
  }
}
@media (max-width: 480px) {
  .img-size {
    height: auto;
    width: 160px;
    padding-left: 10px;
  }
}
@media (max-width: 540px) {
  .img-size {
    height: auto;
    width: 160px;
    padding-left: 10px;
  }
}
@media (max-width: 280px) {
  .list-inline-item {
    margin-right: 2px !important;
  }
}
