<div class="container slider-container">
  <!-- You can now use your library component in app.component.html -->

  <ngx-slick-carousel
    class="carousel"
    #slickModal="slick-carousel"
    [config]="slideConfig"
  >
    <div ngxSlickItem *ngFor="let movie of trendingMovies" class="slide mt-3">
      <app-movie-poster
        [imgSrc]="movie | imageSrc"
        [vote_average]="movie.vote_average"
        [release_date]="movie.release_date"
      ></app-movie-poster>
    </div>
  </ngx-slick-carousel>
</div>
