.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.scroll {
  overflow-y: auto !important;
  max-height: 550px;
}

.mt0 {
  margin-top: 0 !important;
}
