<div
  class="mt-3"
  *ngIf="order && order.movies"
  [ngClass]="{ scroll: !edit, mt0: !edit }"
>
  <p style="color: transparent; font-size: 0.5rem">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris bibendum,
    arcu et mattis sagittis.
  </p>
  <form class="example-form">
    <mat-form-field
      class="example-full-width"
      appearance="fill"
      *ngIf="order.status"
    >
      <mat-label>Buscar por nombre</mat-label>
      <input
        type="text"
        matInput
        [formControl]="myControl"
        [matAutocomplete]="auto"
        (keyup.enter)="editItem(myControl.value)"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        [displayWith]="displayFn"
        appearance="fill"
      >
        <mat-option
          *ngFor="let option of filteredOptions | async"
          (click)="editItem(option)"
          [value]="option"
        >
          {{ option.title }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <button mat-raised-button color="primary" *ngIf="movie && movie.id">
    Guardar
  </button>
  <mat-selection-list #movies [multiple]="false" [ngClass]="{ scroll: !edit }">
    <mat-list-option *ngFor="let movie of order.movies" [value]="movie">
      {{ movie.title }}
    </mat-list-option>
  </mat-selection-list>
  <div class="mt-3 mb-3">
    <mat-divider></mat-divider>
  </div>
  <section class="fs-6 mt-3" *ngIf="movies.selectedOptions.selected[0]?.value">
    <span style="color: #032541">{{
      movies.selectedOptions.selected[0]?.value.title
    }}</span
    >&nbsp;&nbsp;
    <button
      *ngIf="order.status"
      mat-mini-fab
      color="warn"
      (click)="deleteItem(movies.selectedOptions.selected[0]?.value.id)"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </section>

  <form class="mb-2 mt-2" [formGroup]="form" *ngIf="!edit">
    <label for="mobileInput" class="form-label">Número de telefono</label>
    <input
      type="text"
      class="form-control"
      id="mobileInput"
      placeholder="*Opcional"
      formControlName="mobile"
      autocomplete="off"
    />
    <span
      *ngIf="
        (form.controls['mobile'].errors?.maxlength ||
          form.controls['mobile'].errors?.minlength ||
          form.controls['mobile'].errors?.pattern) &&
        form.controls['mobile'].dirty &&
        form.controls['mobile'].touched
      "
      class="text-danger"
      >Solo números y deben ser 10 digítos...</span
    >
  </form>

  <div class="mt-3" *ngIf="!edit">
    <button
      mat-raised-button
      color="primary"
      [matBadge]="order.movies.length"
      matBadgePosition="after"
      matBadgeColor="accent"
      [disabled]="!form.valid"
      (click)="saveOrder()"
    >
      Guardar
    </button>
  </div>

  <div class="mt-3" *ngIf="edit">
    <button
      mat-raised-button
      color="warn"
      (click)="completeList()"
      *ngIf="order.status"
    >
      Inactivar
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="completeList(true)"
      *ngIf="!order.status"
    >
      Activar
    </button>
  </div>
</div>
