<div class="container mb-3">
  <button class="btn btn-warning mb-3" (click)="return()">Regresar</button>
  <mat-divider></mat-divider>
</div>
<div class="container">
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="Lista">
      <ng-container *ngIf="order && order.movies">
        <div
          class="row row-cols-2 row-cols-md-6 mt-3"
          *ngIf="order.movies.length > 0"
        >
          <div class="col" *ngFor="let movie of order.movies">
            <div class="card border-0 h-100">
              <app-movie-poster
                [imgSrc]="movie | imageSrc"
                [vote_average]="movie.vote_average"
                [release_date]="movie.release_date"
                [id]="movie.id"
              >
              </app-movie-poster>
              <div class="card-body">
                <h5 class="card-title fs-6 lh-sms">{{ movie.title }}</h5>
                <p class="card-text">
                  {{ movie.release_date | date: "MMMM d, yyyy" | titlecase }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="order.movies.length < 1">
          <div class="col-sm-12">
            <div class="alert alert-info" role="alert">
              No se encontraron resultados!
            </div>
          </div>
        </div>
      </ng-container>
    </mat-tab>
    <mat-tab label="Editar lista">
      <app-edit-list
        [order]="order"
        [options]="options"
        [edit]="true"
      ></app-edit-list>
    </mat-tab>
  </mat-tab-group>
</div>
